* {margin: 0;
    padding: 0; 
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    font-size: 2rem;
}
.barra-lateral {
    background-color: rgb(174, 136, 175);
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 2px solid rgb(110, 4, 110);
    color: rgb(228, 222, 226);
    align-items: center;
    flex-direction: column;
    
}

.elemento {
    background-color: antiquewhite;
}

.seccion-principal {
    background-color: rgb(158, 95, 160);
    padding: 10px;
    color: antiquewhite;
    flex-grow: 1;   
}

@media (max-width: 640px) {
    .body {
        flex-direction: column-reverse;
    }
    .barra-lateral {
        flex-direction: row;
        justify-content: space-evenly;
    }
}